# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Prisma
prisma/migrations/

# Build output
dist/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
